:root {
	--azul: #1f2333;
	--celeste: #3b8ea5;
	--blanco: #edf7f6;
	--naranja: #f19953;
}


.form{
  max-width:  50%;
	max-height: 40%;
	height: 40px;
  margin: 0;
  padding:  100px 0 0;
}


.resposive {
  width: 45%;
  height: 40%;
  padding-bottom: 56.25%;
  position: relative;
}

.main-content iframe{
  height: 500px;
  width: 440px;
}

.resposive iframe {
  position: absolute;
  width:100%;
  height: 100%
}

.map {
	width: 600px;
	height: 450px;
	border:0;

}
